{# app/Resources/views/registration/register.html.twig #}
{% extends '::base.html.twig' %}

{% form_theme formSite 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="col-lg-6">
        {{ form_start(formSite) }}
        {% if required is defined%}
            <span class="required" title="This field is required">*</span>
        {% endif %}
        {{ form_row(formSite.title) }}
        {{ form_widged(formSiteXSite.mainSite) }}
        {{ form_row(formSite.content) }}
        {{ form_row(formSite.visible) }}
        <button type="submit">Register!</button>
        {{ form_end(formSite) }}
    </div>
{% endblock %}